body{
    background: gray;
    padding: 20px;
}
h1{
    text-align: center;
    color: rgb(31, 31, 72);
}
img{
    border-radius: 50%;
    width:400px;
    margin: 30px;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
h2{
    color: rgb(31, 31, 72);
}
.projects, .about, .education, 
.experience, .interests, .hobbies, 
.skills, .contacts{
    display: flex;
    flex-direction: row;

}
.h2-head{
    width: 30%;
    border: 0px solid white;
    padding: 10px;
    float: left;
}
.h2-body{
    width: 70%;
    border: 0px solid white;
}
span{
    color: white;
}