body{
    background: gray;
    padding: 20px;
}
h1{
    text-align: center;
    color: white;
}
h2{
    color: rgb(31, 31, 72)
}
.projects, .about, .education, 
.experience, .interests, .hobbies, 
.skills{
    display: flex;
    flex-direction: row;

}
.h2-head{
    
    width: 300px;
    border: 0px solid white;
    padding: 10px;
}